#Indy {
	height: 200px;
	width: 200px;
	

}

#Nazi {
	height: 200px;
	width: 200px;
}

#Shaman {
	height: 200px;
	width: 200px;
}

#Boulder {
	height: 200px;
	width: 200px;
}

#IndyChosen {
	height: 200px;
	width: 200px;
	
}

#NaziChosen {
	height: 200px;
	width: 200px;
}

#ShamanChosen {
	height: 200px;
	width: 200px;
}

#BoulderChosen {
	height: 200px;
	width: 200px;
}

.StarterImage{

}

.ChosenCharacter {


}

.EnemiesAvailable {

}

.FightButton {

}

.Defender {

}

.FightButtonDiv {

}

.FightButton {

}