#Indy {
	height: 125px;
	width: 125px;
	

}

#Nazi {
	height: 125px;
	width: 125px;
}

#Shaman {
	height: 125px;
	width: 125px;
}

#Boulder {
	height: 125px;
	width: 125px;
}

#IndyChosen {
	height: 125px;
	width: 125px;
	
}

#NaziChosen {
	height: 125px;
	width: 125px;
}

#ShamanChosen {
	height: 125px;
	width: 125px;
}

#BoulderChosen {
	height: 125px;
	width: 125px;
}



.FightButtonDiv {
	text-align: center;
}



h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3{
	text-align: center;
}


body {
	background-image: url(../images/jungle.jpg);
	color: #ffffff;
}

.MessageOne {
	font-size: 20px;
}

.MessageTwo {
	font-size: 20px;
}